*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.H-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;

}

.M-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2rem;
}